*{
    margin: 0;
    height: max-content;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}


body{
    font-family: sans-serif;
    margin: 0;
    background-color: #F1EEEE;
}

header{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #01257D;
    padding: 12px
}

.nav-opc {
    position: relative;
    height: 80px;
    bottom: 20px;
    background-color: #0787AF;
    padding: 20px 10px; /* Espacio extra dentro del nav */
    margin-top: 20px; /* Espacio entre el contenedor y el menu */
  }

      
menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
  }
  
  .menu a {
    position: relative;
    top: 6.8px;
    left: 15vw;
    padding: 3vw 5vw ;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  /*icono menu*/
  .menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    padding: 10px 20px;
  }
  
  #menu-toggle {
    display: none;
  }
  
  @media (max-width: 768px) {
    .menu {
      display: none;
      flex-direction: column;
      width: 100%;
    }
  
  
  
    #menu-toggle:checked + .menu-icon + .menu {
      display: flex;
    }
  
    .menu-icon {
      display: block;
    }
  }
  
  @media (max-width: 480px) {
    .menu {
      font-size: 1.2em; /* Ajusta el tamaño de la fuente */
    }
  }
  
  @media (max-width: 320px) {
    .menu {
      font-size: 1em; /* Ajusta el tamaño de la fuente */
    }
  }
  
 
  
  @media (max-width: 768px) {
    .menu a:hover {
      font-size: 1.8em; /* Ajusta el tamaño de la fuente al pasar el mouse */
    }
  }
  
  @media (max-width: 480px) {
    .menu a:hover {
      font-size: 1.5em; /* Ajusta el tamaño de la fuente al pasar el mouse */
    }
  }
  
  @media (max-width: 320px) {
    .menu a:hover {
      font-size: 1.2em; /* Ajusta el tamaño de la fuente al pasar el mouse */
    }
  }
  
  /* Ajusta el padding y el margin */
  @media (max-width: 768px) {
    .menu {
      padding: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .menu {
      padding: 5px;
    }
  }
  
  @media (max-width: 320px) {
    .menu {
      padding: 2px;
    }
  }
  
  /* Ajusta el color de fondo y de texto */
  @media (max-width: 768px) {
    .nav-opc {
      background-color: #0787AF;
      height: max-content;
    }
   
  }
  
  @media (max-width: 500px) {
    .nav-opc {
      background-color: #0787AF;
    }
  }
  
  @media (max-width: 320px) {
    .nav-opc{
      background-color: #0787AF;
    }
  }
  
  /* Ajusta el tamaño de las imágenes */
  @media (max-width: 768px) {
    /* Ajusta el tamaño de las imágenes */
  }
  
  @media (max-width: 480px) {
    /* Ajusta el tamaño de las imágenes */
  }
  
  @media (max-width: 320px) {
    /* Ajusta el tamaño de las imágenes */
  }
/*Fin del menu de opciones*/




.nav-link img{
    position: relative;
    height: 32px;
    padding: 0 20px;   
}


.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 80px;
    margin-right: 65vw;
    
}

/* stylos del  formulario de cita*/

.container-formulario {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.p-f {
    width: 100%;
  
    text-align: center;
    position: relative;
    
}

.column1, .column2 {
    position: relative;
    top: 2vw;
    flex: 1;
    min-width: 200px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], textarea ,select{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="date"]{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="checkbox"]{
    margin-top: 2vw;
}
.image-container img{
    width: 8vw;
    position: relative;
    left: 2vw;
}
.image-container textarea{
    width: 65%;
    margin-top: 1vw;
    position: relative;
    left: 8vw;
}
.image-container {
    border-radius: 6px;
    width: 100%;margin-top: 2vw;
    display: flex;
    border: 2px solid gray;
    text-align: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

textarea {
   
    height: 6.4vw;
    border: 1px solid gray;
    outline: none;
    border-radius: 6px;
    resize: none;
}

input[type="submit"] {
    width: 20%;
    position: relative;
    left: 38vw;
    padding: 15px;
    background-color: #004EF9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
#img-dedo{
    position: relative;
    margin-top: 3vw;
    left: 30vw;

}

input[type="submit"]:hover {
    background-color: #45a049;
}

@media (max-width: 600px) {
    .column1, .column2 {
        flex: 100%;
    }
    #img-dedo{
      position: relative;
        width: 10vw;
        top: 3.5vw;

    
    }
    .nav-link img{
      height: 20px;
    }
    input[type="submit"] {
        width: 18vw;
        height: 8vw;
    }
    textarea {
       
        height: 10vw;
        border: 1px solid gray;
        outline: none;
        border-radius: 6px;
        resize: none;
    }
}
/*foter aqui*/

.container{
    max-width: 1200px;
    margin: 0 auto;
}

footer{
    background-color: #0A125A;
    padding: 50px 0;
    border-radius: 2px;
    
}
.conta-iner{
    display: flex;
    position: relative;
    

}



.foter-row{
    display: flex;
    flex-wrap: wrap;
}

.foter-link{
    width: 25%;
    padding: 0 25px;
}

.foter-link h3{
    color:  white;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 200;
    border-bottom: 2px solid blanchedalmond;
    display: inline-block;
    padding-bottom: 10px;
}
.foter-link ul li a{
    color: white;
    font-weight: 500;
    text-decoration: none;
    display: block;
    margin-bottom: 12px;
    transition: all .3s ease;
}
/*Agregar icono gmail i telefono*/
.img-g{
    display: flex;
    position: relative;
    left: 3vw;
    height: 25px;
    top: 7px;
}

.img-c{
    display: flex;
    position: relative;
    left: 3vw;
    height: 25px;
    top: 18px;

}

/*Stylos gmail i telefono*/
.numero{
    position: relative;
    color: white;
    left: 7vw;
    top: -2px;
    text-decoration: none;
    align-items: center;
}

.correo{
    color :white;
    position: relative;
    left: 7vw;
    bottom: 4vw;
    text-decoration: none;
    align-items: center;
}


.icono{
    display: flex;
    text-align: center;
}

.icono img{
    position: relative;
    justify-content: center;
    padding-left: 18vw;
    bottom: 1vw;
}

/*Agregar linea*/
.line{
    display: flex;
    border-left: 1px solid white;
    height: 9.5vw;
    position: relative;
    bottom: 10vw;
    left: -1vw;
}

.foter-link  ul li a:hover{
    color:  green;
    padding-left: 12px;

}

/* response*/
@media (max-width:700px){
    header{
        flex-direction: column;
    }
}